.indexTitleH2{
    color: #FB72BC;   /*EEB8EE*/
    text-align: center;
    padding: 1%;
}

.pictoContainerDiv{
    text-align: center;
    margin-bottom: 10%;
}

.pictograms:hover{
    transform: scale(1.2);
}

@media screen and (max-width: 414px) {/*window smaller than 414px*/
    
    #imgTitleDivContainer{
        display: flex;
        margin-top: 5%;
        align-items: center;
        flex-direction: column;
    }

    #titleDivContainer{
        border:1px solid #C9AFBC;
        width: 80%;
    }

    #indexImg{
        border:5px solid #C9AFBC;
    }
    
}

@media screen and (min-width: 414px){ /*from 414px and bigger*/
    
    #imgTitleDivContainer{
        display: flex;
        margin-top: 5%;
        align-items: flex-start;
    }
    
    #titleDivContainer{
        border:1px solid #C9AFBC;
        margin-left: 5%;
        flex-grow: 1;
        align-self: center;
    }
    
    #indexImg{
        margin-right: 5%;
        flex-grow: 1;
        border:5px solid #C9AFBC;
    }
    
    #emptySpace{
        width: 20%;
    }

}

@media screen and (min-width: 904px){ /*from 904px and bigger*/
    
    /*ITEMS INSIDE FLEXBOX CLOSER TOGETHER*/
    #titleDivContainer{
        border:1px solid #C9AFBC;
        margin-left: 10%;
        flex-grow: 1;
        align-items: center;
    }

    #indexImg{
        margin-right: 10%;
        flex-grow: 1;
        border:5px solid #C9AFBC;
    }

    #emptySpace{
        width: 10%;
    }

    .indexTitleH2{
        font-size: 32px;
    }
    
}

