/*MAIN CSS*/
html  {
    background-color: #FFDEEF;
}

#container{
    background-color:rgb(253, 241, 251);
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    height: 90%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /*box-shadow: 10px 10px 5px rgb(39, 39, 39); /*shadow*/
}

/*NAVBARS*/
#navbarContainer{
    background-color:#FFFEEB;
    overflow: hidden; /*all items fit into the navbarContainer*/
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border:1px solid #fffa9c;
}

#socialmediaNavbarContainer{
    background-color:#FFFEEB;
    overflow: hidden; /*all items fit into the navbarContainer*/
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border:1px solid #fffa9c;
}

#navbar, #socialmediaNavbar{
    list-style-type: none;
    padding: 0%; /*navbar all the way to the left*/
}


#socialmediaNavbar{
    display: flex;
    text-align: center;
    margin-left: 25%;
    width: 50%;
}

.socialmediaNavbarLi{
    flex-grow: 1;
}

#socialmediaNavbarLiFacebook{
    margin-left: 20%;
}

#socialmediaNavbarLiYoutube{
    margin-right: 20%;
}


.NavbarA {
    display: block;
    color: black;
    text-align: center;
    padding: 5px;
    text-decoration: none;
    border: 1px solid #C9AFBC;
    font-size: 15px;
    border-left: none;
}

.navbarHide{
    height:0px; /*hide links*/
    visibility: hidden;
}

.navbarShow{
    height: auto; /*hide links*/
}


/*POSITION NAVBAR*/

@media screen and (max-width: 330px) {/*window smaller than 330px*/
    
    #navbarLogo{
        width: 30%;
    }
}

@media screen and (max-width: 500px) {/*window smaller than 500px*/
    
    #navbarLogo{
        float: left;
        margin: 2%;
    }

    #shoppingCartLogoA{
        float: right;
        margin-top: 10%;
        margin-right: 8%;
    }

    #hamburgerMenuA{
        margin-top: 10%;
        float: right;
        outline: none !important;  /*no border around button after clicking*/
        background-color: inherit; /*no color*/
        border: none;
    }
    
    #navbar{
        margin-top: 33%;
        margin-left: 0%;
        width: 100%;
    }

    .NavbarA:hover:not(.active) {
        background-color: rgb(255, 230, 252);
        transform: scale(1.1);
    }

    #socialmediaNavbar{
        margin-left: 0%;
        width: 100%;
    }

}

@media screen and (min-width: 500px) {/*window bigger than 500px*/
    
    #navbarLogo{
        float: left;
        margin: 5%;
    }

    #shoppingCartLogoA{
        float: right;
        margin-top: 10%;
        margin-right: 8%;
    }

    #hamburgerMenuA{
        margin-top: 10%;
        float: right;
        outline: none !important;  /*no border around button after clicking*/
        background-color: inherit; /*no color*/
        border: none;
    }
    
    #navbar{
        margin-top: 35%;
        margin-left: 0%;
        width: 100%;
    }

    .NavbarA:hover:not(.active) {
        background-color: rgb(255, 230, 252);
        transform: scale(1.1);
    }

}

@media screen and (min-width: 600px) {/*window bigger than 500px*/

    #navbar{
        margin-top: 30%;
        margin-left: 0%;
        width: 100%;
    }

}

@media screen and (min-width: 680px) {/*window bigger than 680px*/

    #navbar{
        margin-top: 25%;
        margin-left: 0%;
        width: 100%;
    }

}

@media screen and (min-width: 874px) {/*window bigger than 874px*/

    #hamburgerMenuA{
        visibility: hidden;
    }

    #navbarContainer{ /*FLEXBOX*/
        display: flex;
    }

    #navbarLogo{
        margin: 2%;
        width: 14%;    
        order: 0;
    }

    #shoppingCartLogoA{
        order: 1;
        width: 8%;    
        margin: 5%;
        margin-top: 6%;
    }

    #shoppingCartLogoImg{
        width: 100%;    
    }

    #navbar{    /*INNER FLEXBOX*/
        order: 0;
        margin: 0%;
        margin-left: -5%;
        margin-right: -3%;
        width: 80%;    
        padding-top: 7%;
    }

    .NavbarRightLogin{
        float: right;
    }

    .NavbarLi{
        display: inline-block;
        margin-left: 3%;
    }

    .NavbarA {
        display: block;
        color: black;
        text-align: center;
        padding: 9px;
        text-decoration: none;
        border: none;
        font-size: 18px;
    }
    
    #loginA{
        color: black;
        background-color: rgb(255, 230, 252);
        border-radius: 10%;
        border:1px solid #C9AFBC;
    }

    .NavbarA:hover:not(.active) {
        background-color: rgb(255, 230, 252);
    }
}


@media screen and (min-width: 980px) {/*window bigger than 750px*/

    #shoppingCartLogoA{
        margin-top: 5%;
    }

}